---
import { Image } from "astro:assets";
const { title, description, image, url } = Astro.props;
let img = image ? image : "/kreativan-meta.png";
---

<title>{title}</title>

<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={img} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta
  property="twitter:title"
  content="Ivan Milincic - Freelance Web Developer"
/>
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={img} />

<link rel="canonical" href={url} />
